* {
  font-family: "Roboto", sans-serif;
}
body {
  font-family: arial;
  width: 800px;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
}

.navegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-bottom: 30px;
}

a:link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

a:visited {
  color: #fff;
}

.inicio-link {
  font-weight: normal;
}

br {
  color: #fff;
}

.imagenes {
  position: relative;
  width: 500px;
  padding-bottom: 30px;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.imagenes img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;

  animation-name: imagenes-slider;
  animation-iteration-count: infinite;
  animation-duration: 16s;
}

.imagenes:hover {
  transform: scale(1.1) translateY(10px);
}

@keyframes imagenes-slider {
  0%,
  17%,
  100% {
    opacity: 1;
  }
  25%,
  92% {
    opacity: 0;
  }
}

.imagenes img:nth-of-type(1) {
  animation-delay: 12s;
}

.imagenes img:nth-of-type(2) {
  animation-delay: 8s;
}

.imagenes img:nth-of-type(3) {
  animation-delay: 4s;
}

.imagenes img:nth-of-type(4) {
  animation-delay: 0s;
}

.obras {
  display: flex;
  justify-content: center;
  border-top: solid #f00;
  border-bottom: solid blue;
  height: 400px;
  padding: 60px;
}
